:root{
    --color-font: rgb(46, 46, 46);
    --color-font-hover:rgb(255, 255, 255);
    --text-shadow:rgba(0, 0, 0, 0.19);
    --theme-shadow:rgba(252, 252, 252, 0.576);
    --background-color-page:rgba(242, 242, 242, 1);
    --hover:rgba(196, 196, 196, 0.741);
    --hover-shadow:rgba(255, 255, 255, 0.26);
    --menu: rgba(196, 196, 196, 1);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--background-color-page);
}
nav{
    display: flex;
    justify-content: space-between;

}
.icon-logo{
    height: 8rem;
    width: 4rem;
    margin-left: 7.5rem;
    margin-top: 3rem;
} 
.init{
   position: absolute;
   margin-top: 5rem;
   margin-left: 22rem;
}
h1{
    margin-bottom: 2rem;
    font-family:'M PLUS Rounded 1c', sans-serif;
    font-weight:bolder;
    font-size: 2.3rem;
    color: var(--color-font);
    text-shadow: 3px 4px 7px var(--text-shadow);
}
.init > a {
    text-decoration: none;
    margin-left: 1rem;
    font-family:'M PLUS Rounded 1c', sans-serif;
    font-weight:bolder;
    font-size: 1rem;
    color: var(--color-font);
    transition: 0.2s;
}
.init > a:hover{
    color: var(--color-font-hover);
    text-shadow: 3px 4px 7px var(--text-shadow);
}
.init > a > i {
    padding-right: 1.2rem;
}
.settings{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-right: 2.5rem;
}
.settings > img{
    height: 2.5rem;
    
}
.options {
    display: flex;
    justify-content:space-between;
    margin-top: 7%;
    background-color: var(--menu);
    box-shadow: 1px 1px 5px var(--text-shadow);
    border-radius: 0.2rem;
    width: 4rem;
    height: 2rem;
}
#sign_out{
    background-color: var(--text-shadow);
    margin: 8%;
    padding: 5%;
    border: 0rem;
    border-radius: 0.2rem;
    font-family:'M PLUS Rounded 1c', sans-serif;
    font-weight:bolder;
    font-size: 0.8rem;
    color: var(--color-font);
    transition: 0.2s;
}
#sign_out:hover {
    box-shadow: 1px 1px 5px var(--text-shadow);
    background-color: var(--background-color-page);
}
.main{
    margin-top: 2%;
    margin-bottom: 3%;
    padding-top: 3%;
    padding-left: 3%;
    display: grid;
    grid-template-columns: repeat(3, minmax(8rem, 16rem));
    gap: 50px;

}
.note{
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 13rem;
    width: 15rem;
}
.note> div:first-child{
    display: flex;
    justify-content: space-between;

}
.delete{
    margin-top: 2%;
    margin-right: 2%;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 0.2rem;
    font-family:'M PLUS Rounded 1c', sans-serif;
    font-weight:bolder;
    font-size: 0.8rem;
    color: crimson;
    background-color: black;
    border: 0;
}
